<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
  <a class="navbar-brand  text-white" href="/">Shop Sach</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item">
        <a class="nav-link text-white" href="/book/create">Them Sach<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/book/store">Sach</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="get" action="/book/search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>